@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.createpassword-tablet{
    display: none;
    
}
.createpassword-mob{
    display: none;
    
}

.createpassword-desktop{
    display: block;
}

   /* TABLET */
@media (max-width: 768px){
    
    .createpassword-desktop{
        display:none;
    }
    .createpassword-tablet{
        display: block;
    }
    .create-tab{
        padding-top: 10rem !important
    }
    .password-card-tab{
        width: 45% !important;
        height: 10vh !important;
        margin-right: 4rem !important;
    }
    .card-su-mobile{
        background-color: #ffffff !important;
        width: 75% !important;
        border-radius: 20px;
    }
    .card-su-mob{
        background-color: #ffffff !important;
        width: 70% !important;
        border-radius: 20px;
    }
    .create-text-mob{
        font-family: 'Roboto'!important ;
        font-weight: 500!important;
        font-size: 6vw!important;
        font-style: normal !important;
        padding-top: 6rem !important;
    }
    .password-head-text-mob{
        font-family: 'Roboto'!important ;
        font-weight: 500!important;
        font-size: 4vw!important;
        font-style: normal !important;
      }
}



 /* MOBILE */
 @media (max-width: 576px){


    .createpassword-desktop{
        display:none;
    }
    .createpassword-tablet{
        display: none;
    }
 }